body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
  }
  
  section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to right, #4b6cb7, #182848);
    color: #fff;
    margin: 0;
  }
  
  .gradient-custom {
    background: linear-gradient(to right, #4b6cb7, #182848);
    color: #fff;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  form {
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto; /* Añadido para centrar el formulario */
  }
  
  h2 {
    color: #4b6cb7;
  }
  
  p span {
    font-weight: bold;
    color: #4b6cb7;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    color: #ffffff;
  }
  
  input,
  select {
    width: calc(100% - 20px); /* Ajuste para compensar el relleno */
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  select {
    appearance: none;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4b6cb7;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
  }
  
  .dataDelete {
    background-color: #dc3545;
  }
  
  /* Responsiveness */
  @media screen and (max-width: 600px) {
    form {
      width: 100%;
    }
  }

  .geners {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    margin-top: 8px;
  }
  
  /* Estilos para los radio buttons */
  input[type="radio"] {
    margin-bottom: 8px;
    margin-top: 18px;
  }
  
  .generos{
    display: flex;
    margin-top: 10px;
  }